/* SearchBar.css */

.react-autosuggest__container {
  position: relative;
  margin-right: 30px;
  margin-left: 20px;
    margin-top: 8px;
    
}


.react-autosuggest__input {
  width: 240px;
  height: 15px;
  padding: 10px 20px;
  font-family: 'Arial', sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
  background-color: #f0ecec !important;

}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 40px;
  width: 240px;
  border: 1px solid #aaa;
  background-color: #f6f6f6;
  font-family: 'Arial', sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  padding: 10px 20px;
  cursor: pointer;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}
