/* About.css */
.center-div {
  text-align: left;
  margin-top: 80px;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5; /* Off-white color for the container */

}


.aboutJinsei {
  color: #333; /* Off-black color #333*/
  margin-bottom: 40px;
  margin-right: 20px;
  margin-left: 40px;
  text-align: left !important; /* Align text to the left */
  display: block;
}

.aboutJinsei2 {
  color: #333; /* Off-black color #333*/
  margin-bottom: 100px;
  margin-right: 20px;
  margin-left: 40px;
  text-align: left !important; /* Align text to the left */
  display: block;
}

.tradeSecretTitle{
  color: #333; /* Off-black color #333*/
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 40px;
  text-align: left !important; /* Align text to the left */
  display: block;
}

.tocTitle{
  color: #333; /* Off-black color #333*/
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 40px;
  text-align: left !important; /* Align text to the left */
  display: block;
}

.tocItem{
  color: #333; /* Off-black color #333*/
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 60px;
  text-align: left !important; /* Align text to the left */
  display: block;
}

.topicTitle{
  color: #333; /* Off-black color #333*/
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 40px;
  margin-top: 50px;
  text-align: left !important; /* Align text to the left */
  display: block;
}


@media (max-width: 767px) {
  .center-div {
    margin-right: 20px;
    margin-left: 20px;

  }
}
