/* About.css */
.center-div {
  text-align: left;
  margin-top: 80px;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5; /* Off-white color for the container */

}

.pageAlillef{
  margin-left:60px;
  margin-right: 60px;
}

.summaryBox {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.summaryBox h2 {
  color: #333;
}

.summaryBox p {
  color: #666;
}


.aboutJinsei {
  color: #333; /* Off-black color #333*/
  margin-bottom: 40px;
  margin-right: 20px;
  margin-left: 40px;
  text-align: left !important; /* Align text to the left */
  display: block;
}

.aboutJinsei2 {
  color: #333; /* Off-black color #333*/
  margin-bottom: 50px;
  margin-right: 20px;
  margin-left: 40px;
  text-align: left !important; /* Align text to the left */
  display: block;
}

.productTitle{
  color: #333; /* Off-black color #333*/
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 40px;
  text-align: left !important; /* Align text to the left */
  display: block;
}

.productSubTitle{
  color: #333; /* Off-black color #333*/
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 60px;
  text-align: left !important; /* Align text to the left */
  display: block;
}

.tradeSecretTitle{
  color: #333; /* Off-black color #333*/
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 40px;
  text-align: left !important; /* Align text to the left */
  display: block;
}

.tocTitle{
  color: #333; /* Off-black color #333*/
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 40px;
  text-align: left !important; /* Align text to the left */
  display: block;
}

.tocItem{
  color: #333; /* Off-black color #333*/
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 60px;
  text-align: left !important; /* Align text to the left */
  display: block;
}

.tocItem1{
  color: #333; /* Off-black color #333*/
  margin-bottom:40px;
  margin-right: 20px;
  margin-left: 60px;
  text-align: left !important; /* Align text to the left */
  display: block;
}

.topicTitle{
  color: #333; /* Off-black color #333*/
  margin-bottom: 40px;
  margin-right: 20px;
  margin-left: 40px;
  margin-top: 0px;
  text-align: left !important; /* Align text to the left */
  display: block;
}


@media (max-width: 767px) {
  .center-div {
    margin-right: 20px;
    margin-left: 20px;

  }
}


.xlsx-tablez {
  margin-top: 30px;
  border-bottom: 2px solid #3498db; /* Border color */
  border-right: 2px solid #3498db; /* Border color */

  top: 0;
  padding: 5px;
  margin-left: 120px;
  max-width: 1500px;
  max-height: 400px;
  margin-bottom: 100px;
  border-radius: 10px !important;
  overflow-x: auto;
  background-color: #F8FAFC;
  border-collapse: separate;
  transition: box-shadow 0.3s ease; /* Smooth transition on hover */
  box-shadow: 5px 5px 0 #003366; /* Add a shadow to the right and bottom */

  border-radius: 5px !important;
}

.xlsx-tablez:hover {
  box-shadow: 10px 10px 0 #003366; /* Add a shadow to the right and bottom */
  transition: box-shadow 0.3s ease; /* Smooth transition on hover */
}


.xlsx-tablez th, .xlsx-tablez td {
  border: 1px solid #ccc;
  padding: 8px;
  color: black;
  font-weight: 350;

  text-align: left;
}

.xlsx-tablez th {
  background-color: #f0f0f0;
  color: black;
  font-weight: normal;
}

.xlsx-tablez td {
  background-color: #ffffff;

}

.xlsx-tablez td[contentEditable="true"]:focus {
  outline: none;
  border: 1px solid #007bff;
  color: black;
  background-color: #fff;
  box-shadow: 0 0 5px #003366;

}



.aboutJinsei3 {
  color: #333; /* Off-black color #333*/
  margin-bottom: 50px;
  margin-right: 20px;
  margin-top:30px;

  margin-left: 40px;
  text-align: left !important; /* Align text to the left */
  display: block;
}

.aboutJinsei4 {
  color: #333; /* Off-black color #333*/
  margin-bottom: 5px;
  margin-right: 20px;
  margin-top:30px;

  margin-left: 40px;
  text-align: left !important; /* Align text to the left */
  display: block;
}

.xlsxView{
  margin-left: 10px;
  margin-top: -100px;
  width: 820px;
  margin-bottom: 50px;

}

.sheetView:hover {
  box-shadow: 10px 10px 0 #003366; /* Add a shadow to the right and bottom */
  transition: box-shadow 0.3s ease; /* Smooth transition on hover */
}

@media (max-width: 767px) {
  .xlsxView {
    width: 250px;
    margin-left: 20px;

  }
}

.sheetView{
  margin-left: 20px;
  width: 320px;
  box-shadow: 5px 5px 0 #003366; /* Add a shadow to the right and bottom */

  transition: box-shadow 0.3s ease; /* Smooth transition on hover */
}

@media (max-width: 767px) {
  .xlsx-tablez {
    width: 320px;
    margin-left: 20px;

  }
}

@media (max-width: 767px) {
  .sheetView {
    width: 320px;
    margin-left: 20px;

  }
}

.bulletedList {
  margin-left: 60px;
  margin-bottom: 40px;
}

.bulletedList div {
  margin-bottom: 5px;
  list-style: disc; /* Use 'disc' for filled circles, 'circle' for empty circles, or 'square' for squares */
  color: black; /* Set the color for the bullet */
}
.bulletedList li {
  margin-bottom: 20px;
  list-style: disc; /* Use 'disc' for filled circles, 'circle' for empty circles, or 'square' for squares */
  color: black; /* Set the color for the bullet */
}
