.homepage-container {
  text-align: center;
  padding: 20px;
  margin-top: 100px;
  background-color: #F8FAFC;
}
/* Media query for mobile devices */
  @media (max-width: 768px) {
  .homepage-container {
    margin-right: 0px;
  }
}

.api-button {
  background-color: black;
  color: white;
  border-radius: 30px;
  font-size: 36px; /* Increase the font size to make it bigger */
  border: 2px solid black;
  box-shadow: 20px 20px 0 rgba(0, 0, 0, 0.2); /* Add a shadow to the right and bottom */
  padding: 50px 160px; /* Increase the padding to make it bigger */
  display: block;
  margin: 20px auto; /* Center the button horizontally */
  cursor: pointer;
  margin-top: 200px;
}

.google-login-button {
  background-color: #4285f4;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}


/* Add styles for the "Arriving 2023" text */
.arriving-text {
  font-size: 36px; /* Adjust the font size as needed */
  text-transform: uppercase; /* Convert text to uppercase */
  font-weight: bold;
  text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.3); /* Add text shadow for a shadow effect */
  letter-spacing: 2px; /* Adjust letter spacing as needed */
  margin-top: 100px;
  margin-bottom: 100px;
}
@media (max-width: 767px) {
  .arriving-text {
    margin-right: 0px;
    margin-left: -5px;

  }
}

/* Homepage.css */
.prototype-button {
  background-color: black;
  color: white;
  border-radius: 30px;
  font-size: 36px; /* Increase the font size to make it bigger */
  border: 2px solid black;
  box-shadow: 20px 20px 0 rgba(0, 0, 0, 0.2); /* Add a shadow to the right and bottom */
  padding: 50px 160px; /* Increase the padding to make it bigger */
  display: block;
  margin: 20px auto; /* Center the button horizontally */
  cursor: pointer;
}

/* Homepage.css */
.timeline-button {
  background-color: black;
  color: white;
  border-radius: 30px;
  font-size: 36px; /* Increase the font size to make it bigger */
  border: 2px solid black;
  box-shadow: 20px 20px 0 rgba(0, 0, 0, 0.2); /* Add a shadow to the right and bottom */
  padding: 50px 160px; /* Increase the padding to make it bigger */
  display: block;
  margin: 20px auto; /* Center the button horizontally */
  margin-top: 200px;
  cursor: pointer;
}


/* Homepage.css */
/* Homepage.css */
.lang {
  background-color: black;
  color: white;
  border-radius: 10px;
  font-size: 12px;
  border: 2px solid black;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  margin: 20px auto; /* Center the button horizontally */
  cursor: pointer;
  display: block; /* Ensure it takes the full width of its container */
}


/* Add dark mode styles for the homepage */
.dark-mode1 {
  background-color: #000;
  color: #fff;
  border-radius: 0px;
  box-shadow: 20px 20px 20px 20px black;

}

.dark-mode-text {
  background-color: #000;
  color: #fff;
  border-color: white;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.dark-mode-button {
  background-color: white;
  color: black;
  border-color: white;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);

}

/* Add more dark mode styles as needed */


.langWrap{
  margin-top: 120px;
  display: flex;
  padding: 10 10;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .button {
    font-size: 20px; /* Further decrease font size for smaller screens */
    padding: 15px 30px; /* Adjust padding for smaller screens */
  }

  .prototype-button,
  .timeline-button {
    font-size: 20px; /* Further decrease font size for mobile */
    padding: 15px 30px; /* Adjust padding for mobile */
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.2); /* Smaller shadow for mobile */
  }
}
