/* PrototypeHeader.css */
.prototype-header {
  background-color: white;
  color: black;
  border: 2px solid black; /* Set border style */
  padding: 10px;
  display: flex;
  max-width: 1840px;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  margin-top: 150px;
  margin-left:5px;
  margin-right:5px;
  border-radius: 10px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  width: 145%;
}

.stickyProtoHeader{
  display: flex;
}

.prototype-header h2 {
  margin: 0;
  font-size: 24px;
}

.importButton1{
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  color: white;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.2); /* Add a shadow to the right and bottom */
  margin-right: 00px;
  margin-top: 15px !important;
}


.prototype-container {
  min-height: 100vh; /* Set a minimum height to ensure the footer is at the bottom */
}

.header-image{
  width: 80px;
  height: 80px;
}

.button-wrap{
  display: flex;
}

.title{
  font-size: 14px;

}

.titlez{
  font-size: 14px;
  margin-top: 15px;
}

.container{
  display: flex;
}

.title-input{
  margin-top: 25px;
 height: 25px;
}

/* Add dark mode styles for the homepage */
.dark-mode {
  background-color: grey;
  color: #fff;
  border-color: white; /* Add this line to change the border color to white in dark mode */
}

.dark-mode-text {
  color: #fff;
}

.dark-mode-button {
  background-color: #333;
  color: #fff;
}

/* Add more styling as needed */
