/* PrototypeHeader.css */
.prototype-header {
  background-color: white;
  color: black;
  /* border: 2px solid black; /* Set border style */
  padding: 10px;
  display: flex;
  max-width: 1840px;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  margin-top: 150px;
  margin-left:27px;
  margin-right:5px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  background-color: #F8FAFC;
  width: 145%;
}


.prototype-header2 {
  background-color: #F8FAFC;
  color: black;
  /* border: 2px solid black; /* Set border style */
  border-top: 2px solid lightslategrey;
  border-bottom: 2px solid lightslategrey;
  padding: 10px;
  display: flex;
  max-width: 1890px;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  margin-top: 260px;
  margin-bottom: 15px;
  margin-left:0px;
  margin-right:5px;
  top: 0;
  left: 0;
  right: 0;
  background-color: #F8FAFC;
  width: 145%;
}


.stickyProtoHeader{
  display: flex;
}

.prototype-header h2 {
  margin: 0;
  font-size: 24px;
}

.importButton1{
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  color: white;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.2); /* Add a shadow to the right and bottom */
  margin-right: 00px;
  margin-top: 15px !important;
}


.prototype-container {
  min-height: 100vh; /* Set a minimum height to ensure the footer is at the bottom */
}

.header-image{
  width: 80px;
  height: 80px;
}

.button-wrap{
  display: flex;
  margin-left: -100px;
}

.popup-container {
  position: relative;
  text-align: center;
  margin: 5px;
  margin-top: 20px !important;
  display: flex;
}

.title9{
  margin-left: 200px;
  margin-right: -750px;
}

.dropdown-button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px !important;
  cursor: pointer;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  color: white;
  display: flex;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.2); /* Add a shadow to the right and bottom */
}

.dropdown-button2 {
  border: none;
  padding: 10px !important;
  cursor: pointer;
  background-color: powderblue;
  padding: 10px;
  border-radius: 2px;
  margin-left: 10px;
  color: black;
  display: flex;
}

.button-wrap2{
  display: flex;
  margin-left: -170px;
}

.button-wrap3{
  display: flex;
  margin-left: 100px;
}


.title{
  font-size: 14px;

}

.titlez{
  font-size: 14px;
  margin-top: 15px;
}

.container{
  display: flex;
}

.title-input{
  margin-top: 25px;
 height: 25px;
}

/* Add dark mode styles for the homepage */
.dark-mode {
  background-color: grey;
  color: #fff;
  border-color: white; /* Add this line to change the border color to white in dark mode */
}

.dark-mode-text {
  color: #fff;
}

.dark-mode-button {
  background-color: #333;
  color: #fff;
}

/* Add more styling as needed */
