/* CSS for the Balance Sheet container */
.balance-sheet {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 20px;
  max-width: 1100px;
  max-height: 430px;
  overflow: auto;
  display: block;
  margin-top: 0px;
  margin-left: 450px;
  border-radius: 10px;
  margin-bottom: -80px;

}


.balance-sheet2 {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 20px;
  width: 100%;
  max-width: 800px;
  max-height: 400px;
  overflow: auto;
  margin-top: 100px;
  margin-left: 250px;
  border-radius: 10px;
}


/* CSS for the element title */
.element-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}


.elementTitle5{
  font-size: 20px;
  margin-top: -15px;
  margin-bottom: 10px;
  margin-left: 100px;
}

.elementTitle9{
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 10px;
  margin-left: 100px;
}


.elementTitle11{
  font-size: 20px;
  margin-top: 65px;
  margin-bottom: -50px;
  margin-left: 100px;
}

.elementTitle10{
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 10px;
  margin-left: 100px;
}

.structureInstanceWrap2{
  margin-top: 100px;
}

.element-title3 {
  font-size: 24px;
  font-weight: bold;
  color: black;
  margin-left: 400px;
  margin-bottom: 20px;
  margin-top: 800px;
}
/* CSS for the balance sheet table */
.balance-sheet-table {
  width: 100%;
  border-collapse: collapse;
}

/* CSS for table headers */
.balance-sheet-table th {
  background-color: #333;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 8px;
}

/* CSS for table cells */
.balance-sheet-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: right;
}

/* CSS for the popup message */
.popup-message {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border: 1px solid #555;
  border-radius: 5px;
  z-index: 999;
}

/* CSS for the buttons wrap */
.buttons-wrap {
  margin-top: 20px;
}

/* CSS for table buttons */
.table-button {
  background-color: #0074cc;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
  max-height: 50px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

/* CSS for the "N/A" button */
.table-button.table-button-na {
  background-color: #ccc;
  cursor: not-allowed;
}
