.xlsx-table {
  margin-top: 30px;
  border: 2px solid grey;
  top: 0;
  padding: 5px;
  display: inline-block;
  margin-left: 0px;
  max-width: 1500px;
  max-height: 600px;
  border-radius: 10px !important;
  overflow-x: auto;
  border-collapse: separate;
  border-radius: 10px !important;
}

.elementTitle{
  margin-top: 100px;
  margin-bottom: -80px
}

.selected-button {
  background-color: grey !important;
  /* Add any other styles you want for the selected button */
}

.xlsx-table.resizable {
  /* Your existing CSS styles for the resizable table */
  position: relative; /* Add this to enable absolute positioning for resizing handle */
}

.xlsx-table.resizable .resize-handle {
  /* Styling for the resizing handle */
  position: absolute;
  width: 8px; /* Adjust the handle width as needed */
  height: 100%;
  color: black;
  top: 0;
  right: -4px; /* Half of the handle width, so it stays outside the table */
  cursor: col-resize; /* Cursor style for resizing */
  z-index: 1; /* Ensure the handle is above the table content */
  background-color: #ddd; /* Handle color */
}

.contentWrap {
  margin-top: 250px;
  margin-left: 100px;
  max-width: 500px !important; /* Limit the maximum width to 500px */

  padding: 20px;
}

.table-wrap{
  margin-left: 100px;
}

.table-button {
  margin-top: 10px;
  margin-left: 10px;
  width: 100px;
}
/* XLSXSheetRenderer.css */
.buttons-wrap{
  display: flex;
  margin-left: 100px;
}


.xlsx-table th, .xlsx-table td {
  border: 1px solid #ccc;
  padding: 8px;
  color: black;
  text-align: left;
}

.xlsx-table th {
  background-color: #f0f0f0;
  color: black;
  font-weight: bold;
}

.xlsx-table td {
  background-color: #ffffff;

}

.xlsx-table td[contentEditable="true"]:focus {
  outline: none;
  border: 1px solid #007bff;
  color: black;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);

}

.table-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 5px;
}

.table-button:hover {
  background-color: #0056b3;
}


/* XLSXSheetRenderer.css */

/* Add this CSS at the end of your CSS file */

.status-message {
  position: absolute;
  background-color: #333; /* Background color for the status message */
  color: #fff; /* Text color for the status message */
  padding: 5px;
  border: 1px solid #777;
  border-radius: 5px;
  z-index: 1; /* Ensure the status message is displayed above other content */
  margin-top: -30px; /* Adjust the value to position it above the header or table data */
  display: none; /* Initially hide the status message */
}

.table-wrap:hover .status-message {
  display: block; /* Display the status message when .table-wrap is hovered over */
}




.schemaRibbon {
  display: fixed;
  justify-content: space-between;
  background-color: white;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-top: 100px;
}

.subRibbon{
  display: flex;
  justify-content: space-between;
  background-color: #007bff;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.ribbon-button {
  background-color: white;
  border: 2px solid grey;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 5px;
  border-radius: 5px;
}

.ribbon-button:hover {
  background-color: #007bff;
}
